/* line 5, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
h1 {
  padding-top: 2px;
  text-align: center;
  font-family: 'Myriad Pro Semibold Italic';
  font-weight: normal;
  font-size: 20px;
  color: #FFAF3B;
  border: 4px solid #fff;
  border-radius: 5px;
  border-color: #FFAF3B;
  width: 100px;
}

/* line 18, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
p {
  font-family: 'Myriad Pro Semibold Italic';
  font-weight: normal;
  font-size: 11px;
  color: #FFAF3B;
}

/* line 25, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
a {
  font-family: 'Myriad Pro Semibold Italic';
  font-weight: normal;
  font-size: 10px;
  color: #FFAF3B;
}

/* line 32, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
.offer1 {
  padding-left: 100px;
}

/* line 36, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
.offer2 {
  padding-left: 100px;
}

/* line 40, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
.offer3 {
  padding-left: 100px;
}

/* line 44, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
body {
  background-image: url("Bitmap.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 50, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
.Logotype {
  padding-left: 100px;
}

/* line 54, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
.Describe {
  padding-top: 50px;
  padding-left: 90px;
}

/* line 59, /Users/user/lowcoster7/app/assets/stylesheets/welcome.scss */
.Name {
  padding-top: 230px;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("MYRIADPRO-REGULAR.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("MYRIADPRO-COND.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold Italic"), url("MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("MYRIADPRO-SEMIBOLD.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed Italic"), url("MYRIADPRO-CONDIT.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Italic"), url("MYRIADPRO-BOLDIT.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed Italic"), url("MYRIADPRO-BOLDCONDIT.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed"), url("MYRIADPRO-BOLDCOND.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("MYRIADPRO-BOLD.woff") format("woff");
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
