<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css"
          href="style.css"/>
</head>

<body>
	<div class="Describe">
		<p>"инновация теперь в цене"</p>
	</div>
	<div class="Logotype">
		<h1>Low <y style="color:#fff">Coster</y></h1>
	</div>
	<div class="offer1">
		<div class="offer11"><a>для компании</a></div>
		<h1 style="text-align:center">150 тг</a></h1>
	</div>
	<div class="offer2">
		<div class="offer22"><a>для одного</a></div>
		<h1 style="text-align:center">200 тг</a></h1>
	</div>
	<div class="offer3">
		<div class="offer33"><a>для одного</a></div>
		<h1 style="text-align:center">500 тг</a></h1>
	</div>
	<div>
	<y style="font-family:'Myriad Pro Semibold Italic';font-size:7px;color:#fff;padding-left:100px">Правила и условия использования сервиса</y>
	</div>
	<div>
	<y style="font-family:'Myriad Pro Semibold Italic';font-size:7px;color:#fff;padding-left:100px">Партнерам</y>
	</div>
	<div class="Name">
	<y style="font-family:'Myriad Pro Semibold Italic';font-size:7px;color:#fff;padding-left:100px">Low Coster inc. дискаунтер сервис маршрутного такси</y>
	</div>
</body>