<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css"
          href="style.css"/>
</head>

<body class="full">

	<table>
		<td style="padding-left:600px">
			<%= image_tag "Loyalty.png" %>
		</td>
		<td>
			<a style="font-size:13px">Круглосуточная служба заботы о пассажирах</a>
		</td>
		<td style="padding-left:10px">
			<a style="font-size:13px">Стать водителем сервиса</a>
		</td>
	</table>
	
	<table>
		<td style="padding-left:100px"><p>city service for routes taxi</p></td>
		<td>
				<h1>Low <y style="color:#fff">Coster</y></h1>
		</td>
		<td><p>городской сервис маршрутного такси</p></td>
		<td style="padding-left:500px;text-align:right"><%= image_tag "Apple.png" %></td>
		<td style="padding-left:10px"><%= image_tag "Android.png" %></td>
	</table>

	<table style="padding-top:50px">
		
		<td style="padding-left:315px">
		<div>
		<a style="font-size:20px">За <y style="color:#fff">150</y></a>
		<a style="text-align:center">для компании друзей</a>
		</div>
		</td>
		
		<td style="padding-left:20px">
		<div>
		<a style="font-size:20px">За <y style="color:#fff">200</y></a>
		<a style="text-align:center">поездка по прямой</a>
		</div>
		</td>
		
		<td style="padding-left:20px">
		<div>
		<a style="font-size:20px">За <y style="color:#fff">500</y></a>
		<a style="text-align:center">поездка сложным маршрутом</a>
		</div>
		</td>
	</table>

	<table>

		<td style="padding-left:270px">
			<a style="font-size:20px">Используй приложение</a>
		</td>

		<td>
			<h1>Low <y style="color:#fff">Coster</y></h1>
		</td>

		<td>
			<a style="font-size:20px">каждый день</a>
		</td>

		<td>
			<a style="font-size:20px;color:#fff">дешевле, чем обычно</a>
		</td>

	</table>

</body>